.formations-page{


    min-height:100vh;

    background:#F4F6F8;

    padding:40px 30px;

    color:#0D1B2A;


}





/* HEADER */


.formations-header{


    text-align:center;

    margin-bottom:40px;


}



.formations-header h1{


    color:#1E3A8A;

    font-size:36px;

    margin-bottom:10px;


}



.formations-header p{


    color:#555;

    font-size:17px;


}







/* LISTE */


.formations-list{


    max-width:1000px;

    margin:auto;

    display:flex;

    flex-direction:column;

    gap:30px;


}






/* CARTE */


.formation-card{


    background:white;

    padding:35px;

    border-radius:20px;

    border:1px solid #D9DEE5;

    box-shadow:0 5px 15px rgba(0,0,0,0.06);


}





.formation-card h2{


    color:#1E3A8A;

    font-size:26px;

    margin-bottom:20px;


}







.formation-info{


    background:#F4F6F8;

    padding:15px;

    border-radius:12px;

    margin-bottom:20px;


}



.formation-info p{


    margin:8px 0;

    color:#444;


}






.formation-description{


    color:#444;

    line-height:1.7;

    font-size:16px;


}







/* BOUTON */


.university-button{


    margin-top:25px;

    padding:14px 30px;

    border:none;

    border-radius:12px;

    background:#F4B400;

    color:#0D1B2A;

    font-size:16px;

    font-weight:bold;

    cursor:pointer;

    transition:0.3s;


}





.university-button:hover{


    background:#1E3A8A;

    color:white;


}







/* MOBILE */


@media(max-width:700px){


    .formations-page{


        padding:25px 15px;


    }



    .formations-header h1{


        font-size:28px;


    }




    .formation-card{


        padding:25px;


    }




    .university-button{


        width:100%;


    }


}




.metier-title{

    color: var(--primary-color);

    font-weight:700;

    color:#0D1B2A;

}

.formations-actions{

    max-width:900px;

    margin:45px auto 0;

     display:flex;

    justify-content:center;

    gap:20px;

    flex-wrap:wrap;

}



.back-result-button{

    background:#0D1B2A;

    color:#FFFFFF;

    border:none;

    border-radius:14px;

    padding:14px 28px;

    font-size:1rem;

    font-weight:600;

    cursor:pointer;

    transition:all .3s ease;

}



.back-result-button:hover{

    background:#1E3A8A;

    transform:translateY(-3px);

    box-shadow:0 10px 25px rgba(13,27,42,.20);

}



.formation-icon{

    margin-right:8px;

    vertical-align:middle;

}

.domaine-icon{

    color:#3B82F6;

}

.duree-icon{

    color:#F59E0B;

}

.back-result-button{

    display:flex;

    align-items:center;

    gap:8px;

}