.navbar {

    display: flex;

    justify-content: space-between;

    align-items: center;

    padding: 20px;

}


.nav-links {

    display: flex;

    gap: 30px;

    list-style: none;

}


.nav-links li {

    cursor: pointer;

}