.universites-page{

    min-height:100vh;

    background:#F4F6F8;

    padding:40px 30px;

    color:#0D1B2A;

}




.universites-header{

    text-align:center;

    margin-bottom:40px;

}


.universites-header h1{

    color:#1E3A8A;

    font-size:36px;

}



.universites-header p{

    color:#555;

    font-size:17px;

}





.universites-list{

    max-width:1000px;

    margin:auto;

    display:flex;

    flex-direction:column;

    gap:30px;

}






.universite-card{

    background:white;

    padding:35px;

    border-radius:20px;

    border:1px solid #D9DEE5;

    box-shadow:0 5px 15px rgba(0,0,0,0.06);

}





.universite-card h2{

    color:#1E3A8A;

    font-size:26px;

    margin-bottom:20px;

}




.universite-info{

    background:#F4F6F8;

    padding:20px;

    border-radius:15px;

    margin-bottom:20px;

}



.universite-info p{

    margin:10px 0;

    color:#444;

}



.universite-info a{

    color:#1E3A8A;

    font-weight:bold;

    text-decoration:none;

}




.universite-description{

    color:#444;

    line-height:1.7;

}





.details-universite-button{

    margin-top:25px;

    padding:13px 30px;

    border:none;

    border-radius:12px;

    background:#F4B400;

    color:#0D1B2A;

    font-weight:bold;

    cursor:pointer;

    transition:0.3s;

}



.details-universite-button:hover{

    background:#1E3A8A;

    color:white;

}





@media(max-width:700px){


    .universites-page{

        padding:25px 15px;

    }


    .universites-header h1{

        font-size:28px;

    }


    .universite-card{

        padding:25px;

    }


    .details-universite-button{

        width:100%;

    }


}